params {
    input = null
    outdir = './results'
    input_file = null
    sequence_column = null
    index_column = null
    uniprot_acc_column = null
    value_columns = null
    fasta_file = null
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
